.greenCard {
    height: 160px;
    width: 210px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;

    &:hover {
        background-color: #ccead4;
    }

    &__title {
        margin-top: 15px;
        font-size: 20px;
        color: #28a745;
        align-self: center;
    }

    &__data {
        margin-top: 35px;

        font-size: 30px;
        align-self: center;
        color: #28a745;
    }
}
